 <div class="container">
    <div class="text-center">
        <h1>Your profil</h1>
        <h3><%= user.username %></h3>
        <p class="lead">The best way to design, build, and ship software.</p>
    </div>
    <div class="card card-container">
       
    </div>
    <p class="tos-info text-center">By clicking on "Create an account" below, you are agreeing to the
    <a href="" target="_blank">Terms of Service</a> and the
    <a href="" target="_blank">Privacy Policy</a>.</p>
</div>