 <div class="container">
    <div class="text-center">
        <h1>Join Anode1</h1>
        <p class="lead">The best way to design, build, and ship software.</p>
    </div>
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create an account</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
    <p class="tos-info text-center">By clicking on "Create an account" below, you are agreeing to the
    <a href="" target="_blank">Terms of Service</a> and the
    <a href="" target="_blank">Privacy Policy</a>.</p>
</div><!-- /container -->